<!DOCTYPE html>
<html>
<head>
	<title>Voting APP</title>
	        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
	        <link rel="stylesheet" href="/stylesheets/bootstrap-navonly.css">
	        <link rel="stylesheet" href="/stylesheets/main.css">

</head>
<body>
	<nav class="navbar navbar-default">
        <div class="margin:5px 5px 5px 5px;">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Home Page</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <% if(!currentUser){ %>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Sign Up</a></li>
                    <% } else { %>
                        <li><a href="#">Signed In As <%= currentUser.username %></a></li>
                        <li><a href="/logout">Logout</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
    <div class="ui container">