
<% include partials/header %>
<div class="ui tertiary inverted teal segment" id="mainlist">
    <div class="ui grid">
        <div class="left floated eight wide column">
            <h1 id="heading">List of all polls</h1>
        </div>
        <div class="right floated two wide column"> 
            <a href="/new" class="ui big blue button">Add a new Poll</a>
        </div>
    </div>
    
       <%polls.forEach(function(poll){ %>
    <div class="ui orange segment" id="pollitem">
        <a href="/pollshow/<%=poll._id%>/edit"><h3><%=poll.name%></h3></a>
    </div>
   
    <%  });   %>
    
</div>
<% include partials/footer %>