<% include partials/header %>
<div class="ui center aligned container" id="formbox">  
<h1>Sign Up!</h1>
    <div class="ui big form">
    <form action="/register" method="POST">
        <div class="field" id="regfield">
            <input  type="text" name="username" placeholder="username" required>
        </div>
        <div class="field" id="regfield">
            <input   type="password" name="password" placeholder="password" required>
        </div>
        <button class="big positive ui button">Submit</button>
    </form>
    </div>
</div>
<% include partials/footer %>